/* ESTILOS GENERALES */




p{
    margin: 0px !important;
    font-family: 'primaryM' ;
}
span{
    font-family: 'primaryT';
}

.contLila{
    display: flex;
    flex-direction: column;
}

.contAmac{
    display: flex;
    background-color: black;
    color: white;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.logotipo{
    padding-left: 1rem;
}

.spacioeven{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
}

.cajaevent{
    height: 2.2rem;

}

.amarillooscuro{
    display: flex;
    flex-direction: row;
    width: auto ;
}
.verde{
    display: flex;
    align-items: flex-end;
    margin: 0.2rem;
}
.rojo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.rojo span{
    font-size: 0.7rem;
}
.rojo p{
    margin: 0px !important;
    font-size: 1rem;
}

.azulclaro{
    width: 50%;
    height: 2.5rem;
    display: flex;
    color: rgb(63, 63, 63);
}
.achijo1 {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(181, 181, 181);
    border-radius: 7px 0 0 7px;
    border-right: 1px solid rgb(63, 63, 63);
    padding: 0.4rem;
}

.achijo1  i{
    width: fit-content;
    margin-left: 0.2rem;
}
.achijo1 span{
    font-size: 0.7rem;
    width:auto;
    padding: 0px !important;
}

.achijo2{
    width: 60%;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    background-color: white;
}

.achijo2  p{
    margin: 0px !important;
    width: auto;
}
.achijo3 {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd69;
    border-radius: 0 7px 7px 0;
}

.achijo3 i{
    font-size: 1.5rem;
}

.containerfx-end{
    display: flex;
    align-items: flex-end;
}
.containerfx-end p{
    padding: 0 0.2rem;
}


/* ESTILOS MOBILE */

.containerTop{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.logotipo{
    display: flex;
    align-items: flex-start;
}
.logotipo i{
    font-size:1.5rem;
    margin-right: 1.5rem;
}
.contTopRight, .loginMbl{
    display: flex;
}
.loginMbl i{
    margin-left: 0.2rem;
}
.cartMbl{
    margin-left: 1.5rem;
}

/* MEDIA QUERIES HEADER AMAZON */

/* BREAKPOINT XS a MD */

@media (min-width: 0px) and (max-width: 768px){
    
    .amarillooscuro, .containerfx-end, .rojo{
        display: none;
    }
    .spacioeven{
        display: block;
        margin-top: 1rem;
    }
    .contAmac{
        flex-direction: column;
        height: auto;
        padding: 1.5rem 1rem;
        background-color: #232f3e;
    }
    .azulclaro{
        width: 100%;
        background-color: white;
        border-radius: 7px;
    }
    .achijo1{
        display: none;
    }
    .achijo2{
        border-radius: 7px 0 0 7px;
        width: 90%;
    }
    .achijo3{
        border-radius: 7px;
    }
}
/* BREAKPOINT MD a XL */
@media (min-width: 769px) and (max-width: 991px){
    .containerfx-endMDXL{
        display: none;
    }
    .amarillooscuroMDXL{
        display: none;
    }
    .azulclaro{
        width: 60% !important;
    }
}

/* BREAKPOINT MD a XL */

@media (min-width: 769px) and (max-width: 1199px){
    .containerTop i, .contTopRight{
        display: none;
    }
    .containerTop{
        width: fit-content;
    }
    .rojoMDXL{
        display: none;
    }
    .azulclaro{
        width: 35%;
        background-color: white;
        border-radius: 7px;
    }
    .achijo1{
        display: none;
    }
    .achijo2{
        border-radius: 7px 0 0 7px;
        width: 90%;
    }
    .achijo3{
        border-radius: 7px;
    }
}

/* BREAKPOINT XL en adelante */

@media (min-width: 1200px){
.containerTop i, .contTopRight{
    display: none;
}
.containerTop{
    width: fit-content;
}
}